/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
.logo{
    width:50px;
    height:60px;
    border-radius:50%;
    margin-top:15px;
    margin-left:20px;
}
.header{
    background-color: turquoise;
    width:100%;
    height:80px;
    
}
.search{
    float:right;
    margin-top:30px;
    margin-right:20px;
}
.main-div{
    margin:10px 15px;
}
.section1{
    background: 1px solid;
    height:50px;
    background-color:royalblue;
    margin:5px;

}
.navbar{
  
    margin-left:300px;
}
navbar ul li {
    display:inline-block;
    padding:15px 60px;
}

.heroic aside,.heroic section {
    display:inline-block;
}
.heroic section{
    margin:0 80px;
}
.heroic .left-side{
    width:10%;
    border:1px solid;
    height:390px;
    margin:0 15px;
    vertical-align: top;
}
.right-side{
    width:10%;vertical-align: top;
    border:1px solid;
    height:400px;
    margin-left:30px;
    margin-right:100px;
}
.heroic aside ul{
    margin:5px;
}
.heroic aside ul li{
    padding:10px;
    margin-left:20px;

}
img{
    width:200px;
    height:200px;
    margin:20px;
}
.ft{
    width:95%;
    height:80px;
    border:1px solid pink;
    margin:15px;
}
.ft p{
    margin:10px;

}